@import "tailwindcss";

* {
  outline: none;
  
}
*:focus {
  outline: none;
 
}
@theme {
  --primary-color: #003B73;
  --secondary-color: #FFFFFF;
  --contrast-color: #5DADE2;
  --star-color: #FFD700;
  --button-color: #00FFB3;
  --text-color: #2C3E50;
}

